  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    height: 70vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    height: calc((100% - 30px) / 2) !important;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
  }

  /* product_img start */
  #mySwiper2{
    width: 95%;
  }
  #our_products{
    font-size: 40px;
    padding: 10px;
    text-decoration: underline;
    color: teal;
  }
.MyProducts img{

float: left;
width:  385px;
height: 200px;
object-fit: cover;
}
  /* product_img end */